<h1> Hello Users </h1>

<div class="mx-auto">
<%= form_with url: "/user/new", method: :get do |form| %>
  <%= form.label :query, "Create Account:", :class => 'create' %> <br> <br>
  <%= form.text_field :name %><br><br>
  <%= form.email_field :address %><br><br>
  <%= form.password_field :password %><br><br>
  <%= form.submit "Login" %>
<% end %>
<div>