<h1> Hello Users </h1>

<!--
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" id="username" name="user[username]">
  <input type="text" id="email" name="user[email]">
  <input type="password" id="password" name="user[password]">
  <input type="submit">
</form>
-->
<!--
<%= form_tag('/users', method: 'POST') do %>
    <%= text_field_tag(:username) %>
    <%= text_field_tag(:email) %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Submit") %>
<% end %>
-->

<div class="form-style-6">
  <h1>Create Account</h1>
  <%= form_for(@user, url: users_path) do |form| %>
    <%= form.text_field :username,  placeholder: "Username", :class => 'text_field' %><br><br>
    <%= form.email_field :email,  placeholder: "Email", :class => 'email_field' %><br><br>
    <%= form.password_field :password,  placeholder: "Password", :class => 'password_field' %><br><br>
    <%= form.submit "Login", :class => 'login_button' %>

    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<div>
